body {
  background-color: rgb(46, 102, 46);
}
h1 , h2 {
  background-color: rgba(245, 245, 220, 0.726);
  text-align: center;
  color: rgb(9, 113, 9);
}
a:link, a:visited {
  text-decoration: none;
  background-color: rgb(245, 245, 220, 0.726);
}
li {
  color: white;
  font-weight: bold;
  font-size: 18px;
  gap: 10px;
}
img {
  margin: 10px;
  width: 300px;
  height: 400px;
  border-radius: 10px;
}
p {
  color: white;
}
.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 10px;
}
.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}
.prev { left: 10px; }
.next { right: 10px; }
